.icon {
	display: inline-block;
	width: 48px;
	height: 48px;
	fill: #000000;
}
.icon-lock {
	fill: #000000;
	width: 31px;
}
.icon-lock2 {
	fill: #000000;
}
.icon-ccw {
	fill: #000000;
}
.icon-arrow-left {
	fill: #000000;
}
.icon-arrow-down {
	fill: #000000;
}
.icon-arrow-up {
	fill: #000000;
}
.icon-arrow-right {
	fill: #000000;
}
.icon-arrow-left2 {
	fill: #000000;
}
.icon-arrow-down2 {
	fill: #000000;
}
.icon-arrow-up2 {
	fill: #000000;
}
.icon-arrow-right2 {
	fill: #000000;
}
.icon-arrow-left3 {
	fill: #000000;
}
.icon-arrow-down3 {
	fill: #000000;
}
.icon-arrow-up3 {
	fill: #000000;
}
.icon-arrow-up4 {
	fill: #000000;
}
