wp-content/themes/adelle/css/* binary
wp-content/themes/adelle/js/footer.js binary
wp-content/themes/adelle/js/header.js binary
wp-content/themes/adelle/js/footer.min.js binary
wp-content/themes/adelle/js/header.min.js binary