.main-instructions {
	
	display: none; 

	position: fixed;
	width: 300px; 
	height: 135px; 

	color: white; 
	background: black; 

	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0;
	margin: auto; 

	z-index: 50;

	padding: 10px 10px 5px 20px;
	font-size: 12px;

	z-index: 100;

	@include breakpoint('medium') {
		top: 0; 
		right: 0;
		margin: 0;
		height: 90px;
		left: auto;
		bottom: auto;
	}

	.content {
		h4 {
			text-align: center; 
			color: white; 
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			margin-bottom: 4px; 
			@include breakpoint('medium') {
				text-align: left; 
			}
		}
		p {
			font-size: 12px;
			text-align: center; 
			@include breakpoint('medium') {
				text-align: left; 
			}
		}
	}

	.exit-button {
		cursor: pointer;
		display: block;
		padding: 5px; 
		border: solid 1px white; 
		width: 100%;
		text-align: center; 

		@include breakpoint('medium') {
			display: inline-block;
			position: absolute;
			background: black;
			font-size: 0;
			width: 20px;
			height: 20px;
			bottom: -7px;
			left: -7px;
			padding: 0;
			border-radius: 10px;

			line-height: 15px;

			&:before {
				content: "x";
				font-size: 12px;
			}

		}

		&:hover {
			background: white; 
			color: black;
		}

	}

	&.active {
		display: block;
	} 

}