<div id="modal-{{ ID }}" class="reveal-modal single-modal project-modal single-project-template" data-reveal>
	<article class="project">
		
		<!-- Display Post Title -->
		<h2 class="change-bg-color main-project-title">
			<a href="{{ permalink }}">{{ post_title }}</a>
		</h2>

		{{# vimeo_id }}
			<!-- Vimeo Video -->
			<div class="main-video"></div>
		{{/ vimeo_id }}

		{{^ vimeo_id }}
			{{# featured_image }}
			<div class="featured-image">
				<!-- Display Featured Image -->
				<img class="main-image" src="{{ featured_image.url }}">
			</div>
			{{/ featured_image }}
		{{/ vimeo_id }}

		<!-- Display Post Content -->
		<div class="entry-content">
			<!-- Display Main Content -->
			{{{ post_content }}}
		</div>
		<!-- Currently Disabled -->
		{{# has_related_projects }}
		<div class="related-projects">
			<h5 class="change-color">Related</h5>
			<ul class="related-projects-list">
				{{# related_project_posts }}
					<li class="change-bg-color order-{{ order_class }} order-{{ odd_even_class }}"><a href="{{ permalink }}">{{ post_title }}</a></li>
				{{/ related_project_posts }}
			</ul>
		</div>
		{{/ has_related_projects }}
	</article>
	<a class="close-reveal-modal top change-bg-color">&#215;</a>
</div>