h1#main-page-title {
    text-transform: uppercase;
    position: fixed;
    font-weight: bold;
    color: white;
    letter-spacing: 0.2em;
    margin: auto;
    display: inline-block;
    text-align: center;
    left: 0;
    right: 0;
    top: 200px;
    bottom: 0;
    line-height: 1.3em;
    height: auto; 
    width: 90%; 
    overflow: visible;
    z-index: 100;
    cursor: pointer;  
    font-size: 3em;
    @include breakpoint( 400 ){
        font-size: 6em;
        width: 850px; 
        height: 107px;
        top: 0;
        line-height: 0.8em;
    }  
    a {
        border-bottom: 3px solid white;
        @include breakpoint( 400 ){
            border-bottom: 7px solid white;
        }
        color: white; 
        &:hover {
            color: black; 
            border-color: black;
        } 
    }
}

#header {
    position: fixed;
    ul.menu {
        list-style-type: none;
        li {
            list-style-type: none;
            a {
                color: white;
                background: black;
                padding: 5px 10px;
                font-size: 16px;
            }
        }
    }
}