h1#main-page-title {
    text-transform: uppercase;
    position: fixed;
    font-weight: bold;
    color: black;
    letter-spacing: 0.2em;
    margin: auto;
    display: inline-block;
    text-align: center;
    left: 0;
    right: 0;
    top: 100px;
    line-height: 1.3em;
    height: auto; 
    width: 90%; 
    overflow: visible;
    z-index: 50;
    cursor: pointer;  
    font-size: 3em;
    @include breakpoint( 'medium' ) {
        font-size: 6em;
        width: 850px; 
        height: 107px;
        top: 0;
        bottom: 0; 
        line-height: 0.8em;
    }  
    -webkit-transition: color 5s; /* For Safari 3.1 to 6.0 */
    -moz-transition: color 5s;
    transition: color 5s;
    a {
        -webkit-transition: color 5s; /* For Safari 3.1 to 6.0 */
        -moz-transition: color 5s;
        transition: color 5s;
        border-bottom: 3px solid black;
        color: black; 
        @include breakpoint( 'medium' ) {
            border-bottom: 7px solid black;
            &:hover {
                color: black; 
                border-color: black;
            }
        } 
    }
    &.active {
        -webkit-transition: color 5s; /* For Safari 3.1 to 6.0 */
        -moz-transition: color 5s;
        transition: color 5s;
        a {
            -webkit-transition: color 5s; /* For Safari 3.1 to 6.0 */
            -moz-transition: color 5s;
            transition: color 5s;
            color: white; 
            border-color: white; 
            &:hover {
                color: white; 
                border-color: white; 
            }
        }
    }
}

#header {
    position: fixed;
    z-index: 50;
    ul.menu {
        list-style-type: none;
        li {
            list-style-type: none;
            a {
                color: white;
                background: black;
                padding: 5px 10px;
                font-size: 16px;
            }
        }
    }
}