#project-home-container {
    opacity: 0;
    -webkit-transition: opacity 5s; /* For Safari 3.1 to 6.0 */
    -moz-transition: opacity 5s;
    transition: opacity 5s;
    &.visible {
        opacity: 1;
        -webkit-transition: opacity 5s; /* For Safari 3.1 to 6.0 */
        -moz-transition: opacity 5s;
        transition: opacity 5s;
    }
}

.home-project-container {
    cursor: pointer;   
    
    .home-content-container {
        position: absolute;
        width: 100%; 
        height: 100%; 
        cursor: pointer;
        h2 {
            text-align: center;
            color: white;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-weight: bold;
            margin-top: 2.5em;
        }
    }
    canvas {
        cursor: pointer; 
    }
}

.reveal-modal-bg {
    cursor: pointer; 
}



