svg#node_map{
	position: fixed;
	z-index: 75;
	bottom: 0;
	left: 0;
	background: rgba(255,255,255,0.1);
	border: solid 1px #c7c7c7;
	border-radius: 250px; 
	
	.link {
		stroke: #fff;
		stroke-width: 1.5px;
		opacity: 0.5;
	}

	.node {
		/*fill: #000;*/
		// stroke: #fff;
		// stroke-width: 1.5px;
		opacity: 0.5;
		&.viewed-true {
			opacity: 0.9;
		}
		&.viewed-true.currently-viewing-true {
			stroke: #fff;
			stroke-width: 1.5px; 
		}
	}
}

