.single-modal {

	margin-bottom: 100px; 

	.main-video {
		background-color: black; 
		height: 350px;
		width: 596px;
	}

	&.reveal-modal {
		.close-reveal-modal {
			background-color: black;
			padding: 2px 10px;
			&.top{
				top: -2.8rem;
				right: -2px;
			}
		}
	}

	.entry-content {
		padding: rem-calc(22) rem-calc(22);
		h2 {
			text-transform: uppercase;
			text-align: center; 
			letter-spacing: 0.35em; 
			//border-bottom: solid 2px;
			padding: 0px 0px 6px; // 17px;
			// margin-bottom: 30px;
		}
	}
}