.single-modal {
	.entry-content {
		padding: rem-calc(22) rem-calc(22);
		h2 {
			text-transform: uppercase;
			text-align: center; 
			letter-spacing: 0.35em; 
			//border-bottom: solid 2px;
			padding: 0px 0px 6px; // 17px;
			// margin-bottom: 30px;
		}
	}
}