html, body {
    margin: 0;
    padding: 0;
    
}

body.projects-orientation-vertical {
    background: white;
    max-height: 100%;
    width: auto;
    overflow-y: hidden; 
}

body.projects-orientation-horizontal {
    overflow-x: hidden;
}

canvas {  
    margin: 0;
    width: 0;
    cursor: pointer;
    margin-top: -4px;
}

canvas:hover {
	background-color: #000;
}

video {
    display: none;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.projects-orientation-vertical #videos-container {
    max-height: 100%;
    width: auto;
    overflow: hidden;
    position: fixed;
}