<div id="container-{{ ID }}" class="home-project-container single-project-home-template">
	<div class="home-content-container">
		<h2>{{ post_title }}</h2>
		<div class="excpert"></div>
	</div>
	<canvas id="canvas-{{ ID }}"></canvas>
	<video id="video-{{ ID }}" controls loop>
	{{#video_files}}
		<source src="{{{ url }}}" type="{{ mime_type }}">
	{{/video_files}}
	</video>
</div>