<article class="single">
	<!-- Display Post Title -->
	<h2>
		<a href="{{ permalink }}">{{ post_title }}</a>
	</h2>
	<!-- Display Post Content -->
	<div class="entry-content">

		{{# featured_image }}
		<div class="featured-image">
			<!-- Display Featured Image -->
			<img class="main-image" src="{{ featured_image.url }}">
		</div>
		{{/ featured_image }}

		<!-- Display Main Content -->
		{{ post_content }}
	</div>
</article>