<div id="modal-{{ ID }}" class="reveal-modal single-modal project-modal single-project-template" data-reveal>
	<article class="project">
		
		{{# vimeo_id }}
			<!-- Vimeo Video -->
			<div class="main-video">
				<iframe src="//player.vimeo.com/video/88054119" width="596" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
			</div>
		{{/ vimeo_id }}

		{{^ vimeo_id }}
			{{# featured_image }}
			<div class="featured-image">
				<!-- Display Featured Image -->
				<img class="main-image" src="{{ featured_image.url }}">
			</div>
			{{/ featured_image }}
		{{/ vimeo_id }}

		<!-- Display Post Content -->
		<div class="entry-content">

			<!-- Display Post Title -->
			<h2>
				<a href="{{ permalink }}">{{ post_title }}</a>
			</h2>

			<!-- Display Main Content -->
			{{{ post_content }}}
		</div>
	</article>
	<a class="close-reveal-modal">&#215;</a>
</div>